<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<style>
  form {
      display: inline-block; //Or display: inline;
  }
</style>

<header>
  <% include ./partials/_header %>
</header>

<body style=" text-align: center; padding-top: 50px;">
  <!-- Generate a table of the user's URLs IF they're logged in! -->
  <% if (urls && user) { %>
    <table align="center" style=" text-align: center; padding-top: 20px; padding-bottom: 20px;">
      <% for (let short in urls) { %>
      <tr>
        <th>Short URL</th>
        <th>Original Url</th>
        <th>Date Created</th>
        <th>Visits</th>
        <th></th>
        <th></th>
      </tr>
        <tr>
          <td><a href="/u/<%=short%>"><%= short %></a></td>
          <td><a href="<%= urls[short]["long"] %>"><%= urls[short]["long"] %></a></td>
          <td><%= urls[short]["date"]%></td>
          <td><%= urls[short]["visits"]%></td>
          <td><form action="/urls/<%= short %>"><button type="submit">Edit</button></form></td>
          <td>
            <form method="POST" action="/urls/<%= short %>/delete">
              <button type="delete">Remove</button>
            </form>
          </td>
        </tr>
        <% }; %>
    </table>
    <form action="/urls/new"><button type="submit">Shorten a new URL!</button>
  <% } else { %>
    <p>You need to log in or register before viewing urls!</p>
  <% } %>
</body>

</html>