<!DOCTYPE html>
<html lange="en">
<head>
  <title>TinyApp</title>
</head>
<style>
form {
    display: inline-block; //Or display: inline;
}
</style>

<header>
  <% include ./partials/_header %>
</header>

<body>

  <% if (urls) {%>
    <table>
      <tr>
        <th>Short URL Code</th>
        <th>Original Url</th>
        <th></th>
        <th></th>
      </tr>
      <% for (let short in urls) { %>
        <tr>
          <td><%= short %></td>
          <td><a href="<%= urls[short] %>"><%= urls[short] %></a></td>
          <td><form action="/urls/<%= short %>"><button type="submit">Edit</button></form></td>
          <td>
            <form method="POST" action="/urls/<%= short %>/delete">
              <button type="delete">Remove</button>
            </form>
          </td>
        </tr>
        <% }; %>
    </table>
  <% } else { %>
    <p>Oops, you haven't made any urls yet!</p>
  <% } %>

  <form action="/urls/new"><button type="submit">Shorten another URL!</button>
</body>

</html>