<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<style>
  form {
      display: inline-block; //Or display: inline;
  }
</style>

<header>
  <% include ./partials/_header %>
</header>

<body style=" text-align: center;">
  <!-- Generate a table of the user's URLs IF they're logged in! -->
  <% if (urls && user) { %>
    <table class="table" align="center" style=" text-align: center; padding-top: 20px; padding-bottom: 20px;">
      <thead class="thead-dark">
      <tr>
        <th>Short URL</th>
        <th>Original Url</th>
        <th>Date Created</th>
        <th>Visits</th>
        <th>Unique Visitors</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <% for (let short in urls) { %>
        <tr>
          <td><a href="/u/<%=short%>"><%= short %></a></td>
          <td><a href="<%= urls[short]["long"] %>"><%= urls[short]["long"] %></a></td>
          <td><%= urls[short]["date"]%></td>
          <td><%= urls[short]["visits"]%></td>
          <td><%= urls[short]["unique"]%></td>
          <td><form method="GET" action="/urls/<%= short %>"><button type="submit" class="btn btn-primary">Edit</button></form></td>
          <td>
            <form method="POST" action="/urls/<%= short %>?_method=DELETE">
              <button type="delete" class="btn btn-danger">Remove</button>
            </form>
          </td>
        </tr>
        <% }; %>
    </table>
    <form action="/urls/new"><button type="submit" class="btn btn-success btn-block">Shorten a new URL!</button>
  <% } else { %>
    <p>You need to log in or register before viewing urls!</p>
  <% } %>
</body>

</html>