<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<style>
  form  {
    margin: 20px;
  }
</style>

<header>
  <% include ./partials/_header %>
</header>

<body style=" text-align: center;">
  <h2>Short URL: <%= short %></h2>
  <h4>Made on: <%= date %></h4>
  <h4>Visited <%= visits %> times by <%= unique %> visitors!</h4>
  <p>You can update the url of a shortened key here!</p>
    <form method="POST" action="/urls/<%= short%>">
    New Url: <input type="text" name="newLong">
    <button type="submit">Update</button>
    </form>
    <form action="/urls"><button type="submit">Cancel</button></form>
</body>

</html>